<h1>Hi<%= ", " + current_user.first_name %></h1>

<h3>Blog Posts</h3>
  <p><%= @posts.inspect %></p>
<h3>Skills</h3>
  <p><%= @skills.inspect %></p>
<h3>Portfolio</h3>
  <p><%= @portfolio.inspect %></p>
